{
    "host": "dbhost.example.com",
    "user": "dbuser",
    "password": "dbpassword",
    "database": "dbname",
    "ssl": false,
    "port": 5432,
    "idleTimeoutMillis": 30000,
    "connectionTimeoutMillis": 20000,
    "query_timeout": 30000,
    "sql": [
        "select tile, md5(tile) as key from ",
        "(",
            "select string_agg(tilelayer, '') as tile from",
            "(",
                "select coalesce(st_asMVT(t, 'layer1', 4096), '') as tilelayer from ",
                "(",
                        "select st_asmvtgeom(st_transform(geom, 3857), st_tileenvelope(${z},${x},${y})) as geom,id,attribute2,attribute3",
                        "from myschema.layer1table",
                            "where ${z} >= 13 and ${z} <= 18 and st_intersects(geom, st_transform(st_tileenvelope(${z},${x},${y}),28992))",
                ") as t",
                "union all ",
                "select coalesce(st_asMVT(t, 'layer2', 4096), '') as tilelayer from ",
                "(",
                    "select st_asmvtgeom(st_transform(geom, 3857), st_tileenvelope(${z},${x},${y})) as geom,id,layer2attribute2,layer2attribute3",
                        "from myschema.layer2table",
                            "where ${z} >= 13 and ${z} <= 18 and st_intersects(geom, st_transform(st_tileenvelope(${z},${x},${y}),28992))",
                ") as t",
            ") as mvtdata",
        ") as mvtdata;"
    ]
}